/*

INDEX

*/

@import '../../global/global.css';

/* Partials */

@import './partials/header.css';
@import './partials/section-passos.css';
@import './partials/section-validade.css';
@import './partials/section-planograma.css';
@import './partials/section-clientes.css';
@import './partials/section-revista.css';
@import './partials/section-contato.css';
@import './partials/footer.css';

