/*

GLOBAL

*/

@import './fonts.css';
@import './normalize.css';
@import './reset.css';
@import './scrollbar.css';
@import './variables.css';
@import './nav.css';
@import './video.css';
@import './modal.css';
@import './elements.css';
@import './aviso-cookie.css';
