/*

global VIDEO

*/

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* icones */

.video img.icone {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  cursor: pointer;
}

.video img.mostrar {
  opacity: 1;
  visibility: visible;
}

.video.aparecer img {
  display: flex;
}

.video img {
  display: none;
  z-index: 3;
}

.video img.ocultar {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Video */

video::-webkit-media-controls,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display {
  display: none;
}

.video.aparecer video {
  opacity: 0.5;
}

.video video {
  opacity: 1;
}

video {
  width: 640px;
  height: 360px;
}

/* Responsivo */

@media screen and (max-width: 800px) {
  video {
    width: 576px;
    height: 324px;
  }
}

@media screen and (max-width: 700px) {
  video {
    width: 512px;
    height: 288px;
  }
}

@media screen and (max-width: 550px) {
  video {
    width: 448px;
    height: 252px;
  }
}

@media screen and (max-width: 490px) {
  video {
    width: 384px;
    height: 216px;
  }
}

@media screen and (max-width: 420px) {
  video {
    width: 320px;
    height: 180px;
  }
}
