/*

INDEX partials HEADER

*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-branco);
  position: relative;
  height: 80vh;
}

/* Imagem */

header .imagem {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 80vh;
  width: 100%;
  background-image: url('../../../../images/pages/index/background-header-imagem.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

header .imagem img {
  width: 100%;
  max-width: 600px;
}

/* Titulo */

header .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  height: 80vh;
  width: 100%;
  padding: 0px 50px;
}

header .titulo img {
  width: 100%;
  max-width: 200px;
}

header .titulo h2 {
  font-family: var(--fonte-extrabold);
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--cor-cinza-4);
  padding: 20px 0px 20px 0px;
  width: 100%;
  max-width: 400px;
}

header .titulo p {
  font-family: var(--fonte-medium);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--cor-cinza-3);
  width: 100%;
  max-width: 550px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    height: 100%;
  }
  header .titulo {
    height: 100%;
    padding: 130px 30px 60px 30px;
  }
  header .imagem {
    height: 100%;
    max-width: 600px;
    margin-left: auto;
  }
  header .imagem img {
    width: 100%;
  }
  header .titulo img {
    max-width: 150px;
  }
  header .titulo h2 {
    font-size: 1.5rem;
    max-width: 300px;
  }
  header .titulo p {
    font-size: 0.9rem;
    max-width: 450px;
  }
}

