/*

INDEX partials SECTION REVISTA

*/

section.revista {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-primaria-1);
  background-image: linear-gradient(to left, #ee632e, #ed7c2f, #ea902f);
  position: relative;
  padding: 100px 50px;
}

section.revista p.titulo {
  font-family: var(--fonte-extrabold);
  font-size: 1.5rem;
  color: var(--cor-branco);
  background-color: var(--cor-primaria-1);
  background-image: linear-gradient(to left, #ee632e, #ed7c2f, #ea902f);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -20px;
  padding: 15px 30px;
  border-radius: 15px;
}

/* itens */

section.revista .itens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin-left: 50px;
}

section.revista .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
}

section.revista .item h2 {
  font-family: var(--fonte-extrabold);
  font-size: 4rem;
  color: var(--cor-branco);
}

section.revista .item h2 span {
  font-family: var(--fonte-medium);
  font-size: 2rem;
}

section.revista .item p {
  font-family: var(--fonte-medium);
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  color: var(--cor-branco);
}


/* conteudo */

section.revista .conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  overflow-y: scroll;
  max-height: 500px;
  min-height: 500px;
  height: 500px;
  width: 100%;
  padding: 20px;
  background-color: var(--cor-branco);
  border-radius: 10px;
}

section.revista .conteudo p {
  font-family: var(--fonte-medium);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--cor-cinza-3);
  padding-top: 20px;
}

section.revista .conteudo p span {
  color: var(--cor-primaria-2);
}

section.revista .conteudo h2 {
  font-family: var(--fonte-medium);
  font-size: 2rem;
  width: 100%;
  max-width: 550px;
  color: var(--cor-primaria-1);
}

section.revista .conteudo h3 {
  font-family: var(--fonte-medium);
  font-size: 1.4rem;
  padding-top: 35px;
  color: var(--cor-primaria-3);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.revista {
    flex-direction: column;
    padding: 100px 30px;
  }
  section.revista p.titulo {
    font-size: 1.4rem;
    top: -15px;
    width: calc(100% - 80px);
    text-align: center;
  }
  section.revista .itens {
    max-width: auto;
    margin-left: 0px;
  }
  section.revista .itens .item {
    padding-top: 40px;
  }
  section.revista .item h2 {
    font-size: 3rem;
  }
  section.revista .item h2 span {
    font-size: 1.5rem;
  }
  section.revista .item p {
    font-size: 0.9rem;
  }
  section.revista .conteudo p {
    font-size: 0.9rem;
  }
  section.revista .conteudo h2 {
    font-size: 1.4rem;
  }
  section.revista .conteudo h3 {
    font-size: 1.2rem;
  }
}
